<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="Dapper" version="2.0.90" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="NanoProfiler" version="2.2.1" targetFramework="net48" />
  <package id="NanoProfiler.Data" version="2.2.1" targetFramework="net48" />
  <package id="NanoProfiler.Storages.Json" version="2.2.1" targetFramework="net48" />
  <package id="NanoProfiler.Web" version="2.2.1" targetFramework="net48" />
  <package id="slf4net" version="1.1.0" targetFramework="net48" />
</packages>